
  {{>layout/header}}
  <body>
	  <nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">MMsoft</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="http://localhost:18181">Home</a></li>
	      <li><a href="/form">회원가입</a></li>
	      <li><a href="/list">사용자목록</a></li>
	    </ul>
	    
	  </div>
	</nav>
		
		<div class="container">
		  <h1>{{message}}</h1>
		</div>		

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- 
    <script src="/webjars/jquery/3.3.1/jquery.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" ></script>
    <script src="/webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
     -->
  </body>
  {{>layout/footer}}